main {
  padding-top: 100px;
}

main .row {
  margin-bottom: 20px;
}

.box {
  height: 400px;
  text-align: center;
  padding-top: 30px;
}

.box:hover {
  -webkit-transition: background 0.1s;
    transition: background 0.1s; 
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.black {
  background-color: #F4F6F6;
  
}

.green {
  background-color: #F4F6F6;
}

.orange {
  background-color: #F4F6F6;
}

.blue {
  background-color: #F4F6F6;
}

.bank {
height: 600px;	
}

.small {
height: 190px;

}

.top {
padding-bottom: 10px;

}

.bottom{
padding-top: 10px;
}

.conts {
	height: 450px;
}

.foot {
  height: 90px;
  background-color: none;
  padding-top: 20px;

}

.footr {
	padding-top: 30px;
}
